# Ignore virtual environments
.venv/
.conda/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Unit test / coverage reports
.coverage
*.cover
*.log
*.outResults

# Results
Results/
oil refinery models/

# Excel files
parameters_guide_new_obj.xlsx
computations.xlsx